.about {
   //Header
   .header-card {
      @include breakpoint(sm) {
         --bg-img-url: url('../images/about/tablet/image-hero.jpg');
      }

      @include breakpoint(lg) {
         --bg-img-url: url('../images/about/desktop/image-hero.jpg');
      }
   }

   //HERITAGE SECTION
   .heritage {
      .text-component {
         --text-vspace-multiplier: 2.5;
      }

      @include breakpoint(sm) {
         .text-component {
            h2 {
               --text-vspace-multiplier: 3;
            }
            --text-vspace-multiplier: 2;
         }
      }

      @include breakpoint(md) {
         &__main {
           display: grid;
            grid-template-columns: 40% 45%;
            gap: 15%;
         }

         &__image {
            background: url(../images/about/desktop/image-heritage.jpg) no-repeat;
            background-size: cover;
         }
      }
   }

   //LEADERS SECTION

   .cards {
      display: grid;
      gap: var(--space-xl);

      .card {
         display: grid;
         gap: var(--space-xxs);
      }

      .card__role {
         color: alpha(var(--color-primary), 0.75);
      }

      .social {
         > :first-child {
            margin-right: var(--space-lg);
         }
         img {
            width: 2rem;
         }
      }

   }

   @include breakpoint(sm) {
      .cards {
         grid-template-columns: repeat(2, 1fr);
         row-gap: var(--space-xxxxl);
         column-gap: var(--space-lg);
      }
   }

   @include breakpoint(md) {
      .leaders__main {
         display: grid;
         grid-template-columns: 0.3333fr 0.6666667fr;
         justify-content: space-between;
      }

      .cards {
         row-gap: var(--space-xl);
         column-gap: var(var(--space-sm));

         .card__img {
            grid-row: 1;
            grid-column: 1;
            transition: all 0.4s;
         }

         .social {
            grid-row: 1;
            grid-column: 1;
            transition: all 0.2s;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
               transition: all 0.2s;
               width: 2.5rem;
               filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
            }
         }

         .social:hover {
            opacity: 1;
            background-color: alpha(var(--color-primary), 0.5);
            img:hover {
               filter: invert(61%) sepia(45%) saturate(1463%) hue-rotate(343deg) brightness(102%) contrast(92%);
            }
         }
      }
   }
}