header {
  margin-top: var(--nav-bar-height);
}

.hero {
  position: relative;
}

.slides {
    display: grid;
    grid-auto-flow: column;
    align-items: start;

    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-behavior: smooth;
  }

.slide {
  scroll-snap-align: center;
  width: 100vw;
  padding: 6.875rem var(--outer-container-column);
  position: relative;
  background: linear-gradient(alpha(var(--color-black), 0.4),alpha(var(--color-black), 0.4));

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%; //make sure img is as wide as its parent
    height: 100%; //make sure img is as tall as its parent
    object-fit: cover;
  }

  .text-component {
    --text-vspace-multiplier: 1;
    max-width: 19rem;

    > a {
      margin-top: 2.8rem;
    }
  }
}

.slide-nav {
  display: none;
}

@include breakpoint(sm) {

  header {
    margin-top: initial;
  }

  .slide {
    padding: 11.25rem 3.625rem;
    width: calc(100vw - 2 * var(--outer-container-column));

    .text-component {
      max-width: 28.75rem;
    }
  }
}


@include breakpoint(md) {
  .slide {
    padding: 11.25rem  11.875rem;
  }

  .slide-nav {
    position: absolute;
    border-bottom: 1px solid var(--color-black-lighter);
    bottom: 0px;
    left: -78px;
    display: flex;

     a:not(:last-child) {
       border-right: 1px solid var(--color-black-lighter);
    }
  }
}
