header {
  margin-top: var(--nav-bar-height);
}

.hero {
  position: relative;
}

  .slides {
    overflow: hidden;
    display: grid;
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }


.slide {
  width: MIN(100vw, 69.375rem);
  background: linear-gradient(alpha(var(--color-black), 0.4),alpha(var(--color-black), 0.4) ), var(--slide-bg) no-repeat;
  background-size: cover;
  padding: 6.875rem var(--outer-container-column);

  .text-component {
    --text-vspace-multiplier: 1;
    max-width: 19rem;

    > a {
      margin-top: 2.8rem;
    }
  }
}

#slide1 {
  --slide-bg: url(../images/home/mobile/image-hero-paramour.jpg);
}

#slide2 {
  --slide-bg: url(../images/home/mobile/image-hero-seraph.jpg);
}

#slide3 {
  --slide-bg: url(../images/home/mobile/image-hero-federal.jpg);
}

#slide4 {
  --slide-bg: url(../images/home/mobile/image-hero-trinity.jpg);
}

.slide-nav {
  display: none;
}

@include breakpoint(sm) {

  header {
    margin-top: initial;
  }

  .slide {
    padding: 11.25rem 3.625rem;

    .text-component {
      max-width: 28.75rem;
    }
  }

  #slide1 {
    --slide-bg: url(../images/home/tablet/image-hero-paramour.jpg);
  }

  #slide2 {
    --slide-bg: url(../images/home/tablet/image-hero-seraph.jpg);
  }

  #slide3 {
    --slide-bg: url(../images/home/tablet/image-hero-federal.jpg);
  }

  #slide4 {
    --slide-bg: url(../images/home/tablet/image-hero-trinity.jpg);
  }

}


@include breakpoint(md) {

  .slide {
    padding: 11.25rem  11.875rem;
  }

  #slide1 {
    --slide-bg: url(../images/home/desktop/image-hero-paramour.jpg);
  }

  #slide2 {
    --slide-bg: url(../images/home/desktop/image-hero-seraph.jpg);
  }

  #slide3 {
    --slide-bg: url(../images/home/desktop/image-hero-federal.jpg);
  }

  #slide4 {
    --slide-bg: url(../images/home/desktop/image-hero-trinity.jpg);
  }

  .slide-nav {
    position: absolute;
    border-bottom: 1px solid var(--color-black-lighter);
    bottom: 0px;
    left: -78px;
    display: flex;

     a {
       border-right: 1px solid var(--color-black-lighter);
    }
  }
}
