:root {
  --padding-x: 11.875rem;
  --max-paragraph-width: 28rem;
}

// HEADER

header {
  margin-top: var(--nav-bar-height); //move down the header for the navigation fixed nav bar in mobile
  position: relative;
}


// SLIDES

.slide {
  padding: 6.875rem 0;
  position: relative;
  background: linear-gradient(alpha(var(--color-black), 0.4),alpha(var(--color-black), 0.4));

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%; //make sure img is as wide as its parent
    height: 100%; //make sure img is as tall as its parent
    object-fit: cover;
  }

  .container {
    --component-padding: var(--outer-container-column);
  }

  &__content {
    height: 21.25rem;
    display: grid; //use grid so the spacing for slide content with more text matches the design
    justify-items: start;
    color: var(--color-white);

    > a {
      align-self: end;
    }
  }
}

.slide-nav {
  display: none; //hide the slide nav on mobile devices
}

@include breakpoint(sm) {

  header {
    margin-top: initial;
  }

  .slide {
    padding: 11.25rem 0;

    .container {
      --component-padding: 3.3rem;
    }

    .slide__content {
      height: 22.5625rem; //keep height the same for tablet and desktop
    }
  }
}


@include breakpoint(md) {

  .slide-nav {
    position: absolute;
     border-bottom: 1px solid var(--color-black-lighter);
    bottom: 0px;
    left: calc(-1 * var(--btn-num-icon-width));
    display: flex;

     button:not(:last-child) {
       border-right: 1px solid var(--color-black-lighter);
    }
  }
}


// MAIN STYLES

main.home {
  --section-spacer: 12.5rem;

  .container-outer {
      > :first-child {
      margin-top: 8.75rem;
    }

    > * {
      margin-bottom: 6rem;
    }

    @include breakpoint(sm) {
      > :first-child {
      margin-top: var(--section-spacer);
      }

      > * {
      margin-bottom: var(--section-spacer);
      }
    }
  }
}


// WELCOME SECTION

.welcome {
  position: relative;

  h1 {
    display: none;
  }

  .horizontal-line {
    position: absolute;
    height: 1px;
    width: 4.125rem;
    background-color: var(--color-black-light);
    top: -4.25rem;
    left: 0;
  }

  .text-component {
    --text-vspace-multiplier: 1.5;
    h2 {
      --text-vspace-multiplier: 2.8;
    }
  }

  .container {
    --component-padding: 0; //controls the width of the container
  }

  p {
    color: var(--color-primary-light);
  }

  @include breakpoint(sm) {
    h1 {
      display: block;
      position: absolute;
      top: -5.375rem;
    }

    .text-component {
      padding-top: 3rem;
      h2 {
        --text-vspace-multiplier: 4.6;
      }
    }
  }

  @include breakpoint(md) {
    background: url(../images/home/desktop/image-welcome.jpg) no-repeat;
    background-position: right center;

    .text-component {
      padding-top: 4.7rem;

      h2 {
        --text-vspace-multiplier: 2.8;
        z-index: var(--zindex-popover); //position above H1;
        position: relative;
      }
    }
  }
}


// TEAMS SECTION

.teams {
  --bg-image: url(../images/home/mobile/image-small-team.jpg);
  background-image: linear-gradient(alpha(var(--color-black), 0.527),alpha(var(--color-black), 0.5)),var(--bg-image);
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  padding: 11.25rem 0;


  @include breakpoint(sm) {
    --bg-image: url(../images/home/tablet/image-small-team.jpg);
    padding: 10.5rem 0;
  }

  @include breakpoint(md) {
    --bg-image: url(../images/home/desktop/image-small-team.jpg);
  }
}