
//HEADER SLIDES
.slide {
  padding: 6.875rem 0;
  position: relative;
  background: linear-gradient(alpha(var(--color-black), 0.4),alpha(var(--color-black), 0.4));

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%; //make sure img is as wide as its parent
    height: 100%; //make sure img is as tall as its parent
    object-fit: cover;
  }

  &__content {
    height: 21.25rem;
    display: grid; //use grid so the spacing for slide content with more text matches the design
    justify-items: start;
    color: var(--color-white);
    h1 {
      color: inherit;
    }
    p {
      max-width: 28rem;
    }
    > a {
      align-self: end;
    }
  }
}

@include breakpoint(sm) {

  .slide {
    padding: 11.25rem 0;

    .slide__content {
      height: 22.5625rem; //keep height the same for tablet and desktop
    }
  }
}


@include breakpoint(md) {

  .slide-nav {
    position: absolute;
     border-bottom: 1px solid var(--color-black-lighter);
    bottom: 0px;
    left: calc(-1 * var(--btn-num-icon-width));
    display: flex;

     button:not(:last-child) {
       border-right: 1px solid var(--color-black-lighter);
    }
  }
}


// WELCOME SECTION

.welcome {

  .text-component {
    --text-vspace-multiplier: 2.4;
    h2 {
      --text-vspace-multiplier: 2.8;
    }
  }

  p {
    color: var(--color-primary-light);
  }

  @include breakpoint(sm) {

    h1 {
      position: absolute;
      top: -5.375rem;
    }

    .text-component {
      h2 {
        --text-vspace-multiplier: 4;
      }
    }
  }

  @include breakpoint(md) {
    &__main{
      background: url(../images/home/desktop/image-welcome.jpg) no-repeat;
      background-position: right center;
    }

    .text-component {
      h2 {
        --text-vspace-multiplier: 2.4;
      }
    }
  }
}


// TEAMS SECTION

.teams {

  &__main {
    --bg-image: url(../images/home/mobile/image-small-team.jpg);
    background-image: linear-gradient(alpha(var(--color-black), 0.527),alpha(var(--color-black), 0.5)),var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
    --padding-y: 11.25rem;
    padding-top: var(--padding-y);
    padding-bottom: var(--padding-y);

    .text-component {
      --text-vspace-multiplier: 3;
    }
  }

  @include breakpoint(sm) {
    &__main {
      --bg-image: url(../images/home/tablet/image-small-team.jpg);
      --padding-y: 10.5rem;
    }
  }

  @include breakpoint(md) {
    &__main {
      --bg-image: url(../images/home/desktop/image-small-team.jpg);
    }
  }
}

// FEATURED SECTION

.featured {
  &__main {
  --col-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--col-gap);

  @include breakpoint(sm) {
    grid-template-columns: 1fr auto;
    grid-template-areas: "title button"
                         "cards cards";
    align-items: center;

    .btn {
      grid-area: button;
    }
  }

  // PROJECT CARDS
  .project-cards {
    margin-top: var(--space-xl);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--col-gap);

    @include breakpoint(sm) {
      margin-top: var(--space-xxxxl);
       grid-area: cards;
    }

    @include breakpoint(md) {
      margin-top: var(--space-lg);
      grid-template-columns: repeat(3, 1fr);
      gap: 1.875rem;
    }
  }
}
}