:root {
  --element-indent: var(--container-component-padding);
  @include breakpoint(sm) { --element-indent: 3.4375rem;}
  @include breakpoint(md) { --element-indent: 11.875rem;}
}

//HEADER SLIDES
.slide {
  position: relative;
  background: linear-gradient(alpha(var(--color-black), 0.4),alpha(var(--color-black), 0.4));
  color: var(--color-white);
  padding: 6.875rem var(--element-indent);

  img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    height: 21.25rem;
    display: grid;

    h1 {
      color: inherit;
      margin-left: -5px; //compensate for space in glyph of font
    }

    a {
     align-self: end;
     justify-self: start;
    }
  }
}

@include breakpoint(sm) {
  .slide {
    padding: 11.25rem var(--element-indent);
    &__content {
      height: 360px;
    }
  }
}

@include breakpoint(md) {
  .slide {
    padding: 180px 0 180px var(--element-indent);
    &__content {
      p {
        max-width: var(--paragraph-width);
      }
    }
  }
  .slide-nav {
    position: absolute;
    border-bottom: 1px solid var(--color-black-lighter);
    bottom: 0px;
    left: calc(-1 * var(--btn-num-icon-width));
    display: flex;

    button:not(:last-child) {
      border-right: 1px solid var(--color-black-lighter);
    }
  }
}


// WELCOME SECTION
.welcome {
  .text-component {
    --text-vspace-multiplier: 2.4;
    h2 { --text-vspace-multiplier: 2.8;}
  }

  @include breakpoint(sm) {
    h1 {
      position: absolute;
      top: -7.5rem;
      left: 0;
    }
    .text-component h2 { --text-vspace-multiplier: 4; }
  }

  @include breakpoint(md) {
    .grid-container {
      display: grid;
      grid-template-columns: .6667fr .3333fr;
    }

    h1 {top: -5.5rem;}

    .text-component {
      justify-self: center;
      margin-top: var(--space-xxl);
      margin-left: 80px;
      --text-vspace-multiplier: 1.2;
      h2 { --text-vspace-multiplier: 2.4;}
      p {max-width: var(--paragraph-width);}
    }
    &__img {
      background: url(../images/home/desktop/image-welcome.jpg) no-repeat;
      background-position: right center;
      background-size: cover;
    }
  }
}


// TEAMS SECTION
.teams {

  &__main {
    --bg-image: url(../images/home/mobile/image-small-team.jpg);
    background-image: linear-gradient(alpha(var(--color-black), 0.527),alpha(var(--color-black), 0.5)),var(--bg-image);
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-white);
    padding: 11.25rem var(--element-indent);

    .text-component {
      --text-vspace-multiplier: 3;
      h2 {
        color: inherit;
      }
    }
  }

  @include breakpoint(sm) {
    &__main {
      --bg-image: url(../images/home/tablet/image-small-team.jpg);
      padding: 10.5rem var(--element-indent);
    }
  }

  @include breakpoint(md) {
    &__main {
      --bg-image: url(../images/home/desktop/image-small-team.jpg);
      padding-left: var(--element-indent);
    }
  }
}

// FEATURED SECTION

.featured {

  &__main {
  --col-gap: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--col-gap);

  @include breakpoint(sm) {
    grid-template-columns: 1fr auto;
    grid-template-areas: "title button"
                         "cards cards";
    align-items: center;

    .btn {
      grid-area: button;
    }
  }

  // PROJECT CARDS
  .project-cards {
    margin-top: var(--space-xl);
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--col-gap);

    @include breakpoint(sm) {
      margin-top: var(--space-xxxxl);
       grid-area: cards;
    }

    @include breakpoint(md) {
      margin-top: var(--space-lg);
      grid-template-columns: repeat(3, 1fr);
      gap: 1.875rem;
    }
  }
}
}