.portfolio {

  .project-cards {
    display: grid;
    gap: 24px;

    .project-card {
      > a:hover img {
        opacity: 0.6;
      }
      h3 {
       color: inherit;
      }

    }

    @include breakpoint(md) {
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    }
  }
}