// +++++++++++++
// ++ BUTTONS ++
// +++++++++++++

:root {
  --btn-font-size: 1em;
  --btn-padding-x: 2rem;
  --btn-padding-y: 1.5rem;
}

.btn { // basic button style
  background: var(--btn-bg, var(--color-primary));
  color: var(--btn-fg, var(--color-white));
  position: relative;
  display: inline-grid;
  grid-auto-flow: column;
  gap: 24px;
  place-items: center;
  white-space: nowrap;
  font-size: var(--btn-font-size, 1em);
  padding: var(--btn-padding-y, 0.5em) var(--btn-padding-x, 0.75em);
  cursor: pointer;
  line-height: 1.2;
  font-family: var(--font-primary);
  font-weight: 700;
  @include fontSmooth;
  transition: all 0.2s ease;
  will-change: transform;
}

//black button with text and arrow
.btn--primary {

  &::after {
    content: '';
    width: 1.5rem;
    height: 1.125rem;
    background: url(../images/icons/icon-arrow.svg) no-repeat;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
  }

  &:hover,
  &:focus {
    background: var(--color-primary-light);
  }

  &:active {
    background: var(--color-black-light);
  }
}

//this will have the arrow and just an underline when hovering
//button with text and arrow and no background color
.btn--subtle {
  --btn-bg: transparent;

  &::after {
    content: '';
    width: 1.5rem;
    height: 1.125rem;
    background: url(../images/icons/icon-arrow.svg) no-repeat;
  }
}

//modifier to change the padding when only the arrow icon is showing
.btn--primary--icon {
  --btn-padding-x: 28px;
  --btn-padding-y: 31px;
}

//the buttons that contain only numbers on the bottom of the slides
.btn--number {
  --btn-bg: var(--color-white);
  --btn-fg: var(--color-primary-light);
  --btn-padding-x: 1.9375rem;
  --btn-padding-y: 1.75rem;

  //ensures the buttons remain the same size no matter what number they contain
  width: 5rem;
  height: 5rem;

  &--current {
    --btn-bg: var(--color-primary);
    --btn-fg: var(--color-white);
  }

  &:hover {
    background: var(--color-black-lighter);
    color: var(--color-primary-lighter);
  }

  &:active {
    background: var(--color-primary);
    color: var(--color-white);
  }
}

// feedback
.btn--disabled, .btn[disabled], .btn[readonly] {
  opacity: 0.6;
  cursor: not-allowed;
}

