// +++++++++++++
// ++ BUTTONS ++
// +++++++++++++

:root {
  --btn-font-size: 1em;
  --btn-padding-x: 2rem;
  --btn-padding-y: 1.5rem;
  --btn-num-icon-width: 5rem;
  --btn-num-icon-height: 5rem;
}

// +++++++++++++++++++++++++
// ++ MODULES FOR BUTTONS ++
// +++++++++++++++++++++++++

//add the arrow svg icon to the after pseudo element
%arrow-icon {
  &:after {
   content: '';
  width: 1.5rem;
  height: 1.125rem;
  background: url(../images/icons/icon-arrow.svg) no-repeat;
  }
}

//style the button in dark mode
%btn-dark {
  --btn-bg: var(--color-primary);
  --btn-fg: var(--color-white);

  &:after {
    filter: invert(100%);
  }

  &:hover,
  &:focus {
    background: var(--color-primary-light);
  }

  &:active {
    background: var(--color-black-light);
  }
}


.btn { // basic button style
  background: var(--btn-bg, var(--color-white));
  color: var(--btn-fg, var(--color-primary));
  position: relative;
  display: inline-grid;
  grid-auto-flow: column;
  gap: 24px;
  place-items: center;
  white-space: nowrap;
  font-size: var(--btn-font-size, 1em);
  padding: var(--btn-padding-y, 0.5em) var(--btn-padding-x, 0.75em);
  cursor: pointer;
  line-height: 1.2;
  font-family: var(--font-primary);
  font-weight: 700;
  @include fontSmooth;
  transition: all 0.2s ease;
  will-change: transform;
}

//white button with text and arrow icon
.btn--primary {
  @extend %arrow-icon;

  &:hover {
    text-decoration: underline;
  }
}

//dark button with text and arrow, and dark button with only the arrow icon
:is(.btn--primary--dark, .btn--icon) {
  @extend %arrow-icon;
  @extend %btn-dark;
}


.btn--number,
.btn--icon {
  width: var(--btn-num-icon-width); //set size of buttons so they don't change with content
  height: var(--btn-num-icon-height);
}


//button that contain only numbers on the bottom of the slides
.btn--number {
  --btn-bg: var(--color-white);
  --btn-fg: var(--color-primary-light);

  &--current {
    --btn-bg: var(--color-primary);
    --btn-fg: var(--color-white);
  }

  &:hover {
    background: var(--color-black-lighter);
    color: var(--color-primary-lighter);
  }

  &:active {
    background: var(--color-primary);
    color: var(--color-white);
  }
}

// feedback
.btn--disabled, .btn[disabled], .btn[readonly] {
  opacity: 0.6;
  cursor: not-allowed;
}

