@mixin rotate-fade($name, $time) {
  animation: #{$name} #{$time}s;
  @keyframes #{$name} {
    0% {
      transform: rotate(0deg);
      opacity: 0;
    }

    100% {
      transform: rotate(360deg);
      opacity: 1;
    }
  }
}