.container-outer {
  --outer-container-column: 8.5vw;
  --min: calc(23.4375rem - 2 * (var(--outer-container-column)));
  max-width: 90rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: var(--outer-container-column) minmax(var(--min), 1110px) var(--outer-container-column);

  > * {
    grid-column: 2; //put every child element in the second column
  }

  @include breakpoint(sm) {
    --outer-container-column: 11.25vw;
  }

    @include breakpoint(md) {
    --outer-container-column: MIN(10.3125rem, 11.45vw);
  }
}



.container {
  h1,
  h2 {
    max-width: 9ch;
  }

  @include breakpoint(md) {
    --component-padding: 11.875rem  !important;
    p {
      max-width: 28rem;
    }
  }
}