.container-outer {
  --outer-container-column: 8.5vw;
  --min: calc(375px - 2 * (var(--outer-container-column)));
  max-width: 1440px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: var(--outer-container-column) minmax(var(--min), 1110px) var(--outer-container-column);

  > * {
    grid-column: 2; //put every child element in the second column
  }

  @include breakpoint(sm) {
    --outer-container-column: 11.25vw;
  }

    @include breakpoint(md) {
    --outer-container-column: MIN(10.3125rem, 11.45vw);
  }
}


