:root {
  --container-component-padding: var(--space-xxl);
  @include breakpoint(sm) {
    --container-component-padding: 11.45vw;
  }
}
body {
  display: flow-root; //eliminates collapsing margin
}

.container {
  --component-padding: var(--container-component-padding);
  max-width: 69.375rem;

  @include breakpoint(sm) {
    --component-padding: var(--container-component-padding);
  }
}


.margin-top-menu {
  margin-top: var(--nav-bar-height);
  @include breakpoint(sm) {
    margin-top: initial;
  }
}

.flow-content {
  --section-spacer-top: 4rem;
  --section-spacer-bottom: 6rem;

  > :first-child:not(:only-child) {
    margin-top: var(--section-spacer-top);
  }

  > * {
    margin-bottom: var(--section-spacer-bottom);
  }

  @include breakpoint(sm) {
    --section-spacer-bottom: 12.5rem;
    --section-spacer-top: var(--section-spacer-bottom);
  }
}


.container {
  :is(h1,h2,h3) {
    max-width: 10ch;
  }
}


