// --------------------------------

// (START) Global editor code https://codyhouse.co/ds/globals/typography

// --------------------------------

:root {
  // font family
  --font-primary: 'Spartan', sans-serif;

  // font size
  --text-base-size: 0.9375em; // body font-size
  --text-scale-ratio: 1.414; // multiplier used to generate the type scale values 👇

  // line-height
  --body-line-height: 1.66667;
  --heading-line-height: 1;

  // capital letters - used in combo with the lhCrop mixin
  --font-primary-capital-letter: 1;

  // unit - don't modify unless you want to change the typography unit (e.g., from Em to Rem units)
  --text-unit: 1em; // if not Em units → --text-unit: var(--text-base-size);
}

:root, * {
  // type scale
  --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
  --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
  --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
  --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
  --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
  --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
  --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
  --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

@supports(--css: variables) {

  h1 {
    font-size: 3rem;
  }



  @include breakpoint(sm) {
    :root {
      --text-base-size: 0.9375em;
      --text-scale-ratio: 1.5;
    }
  }
}

body {
  font-family: var(--font-primary);
  font-weight: 500;
  line-height: var(--body-line-height);
}

h1, h2, h3, h4 {
  font-family: var(--font-primary);
  font-weight: 700;
  color: inherit;
}

// font family
.font-primary { font-family: var(--font-primary); }

h1, .h1 {
  font-size: 3rem;
  letter-spacing: -2px;

  @include breakpoint(sm) {
    font-size: 5rem;
  }
}

h3 {
  font-size: 1.125rem
}

.text--huge {
  color: var(--color-black-medium);
  font-size: 7.5rem;
  letter-spacing: -3px;

  @include breakpoint(md) {
    font-size: MIN(16vw,12.5rem);
    letter-spacing: -5px;
  }
}

.nav-link {
  color: var(--color-primary-lighter);
  font-weight: 700;
  transition: all .2s;
  &:hover,
  &.current {
    color: var(--color-primary);
  }
}

mark {
  background-color: alpha(var(--color-accent), 0.2);
  color: inherit;
}

.text-component {
  --line-height-multiplier: 1;
  --text-vspace-multiplier: 1;

  blockquote {
    padding-left: 1em;
    border-left: 4px solid var(--color-contrast-low);
  }

  hr {
    background: var(--color-contrast-low);
    height: 1px;
  }

  figcaption {
    font-size: var(--text-sm);
    color: var(--color-contrast-medium);
  }
}

.article { // e.g., blog posts
  --body-line-height: 1.58; // set body line-height
  --text-vspace-multiplier: 1.2; // increase vertical spacing
}