.footer {
  text-align: center;
  margin-top: 2.25rem;
  position: relative;

  &__container {
    padding-bottom: 4rem;
    background: var(--color-black-lighter);
  }

  &__logo {
    display: inline-block;
    padding: 3rem 2rem;
    --logo-size: 7.5rem;
    max-width: var(--logo-size);
    max-height: var(--logo-size);
    background: var(--color-primary);
    margin-top: -50%;

    img {
      filter: invert(100%) sepia(0%) saturate(13%) hue-rotate(225deg) brightness(103%) contrast(103%);
    }
  }

  &__nav {
    --nav-spacing: 2rem;
    display: grid;
    justify-items: center;
    gap: var(--nav-spacing);
    margin: var(--nav-spacing) 0;
  }

  @include breakpoint(sm) {
    background: initial;

    &__container {
      padding-bottom: initial;
      max-width: MAX(85vw, 612px);
      display: grid;
      grid-template-columns: auto 1fr;
    }

    &__nav {
      margin: 0;
      grid-template-columns: repeat(3, auto);
      column-gap: 56px;
      align-items: center;
      justify-content: start;
      padding-left: 40px;
    }

    &__logo {
      margin-top: initial;
    }

    .btn {
      align-self: center;
      position: absolute;
      right: 0;
    }
  }

  @include breakpoint(md) {
    &__container {
      max-width: MIN(65vw,984px);;
    }
  }

  @include breakpoint(lg) {

    &__logo {
      --logo-size:200px;
      padding: 80px 50px;
    }

    &__nav {
      padding-left: 85px;
    }
  }
}

