.footer {
  margin-top: 2.25rem;
  position: relative;

  &__container {
    --nav-spacing: 2rem;
    padding-bottom: 3rem;
    background: var(--color-black-lighter);
    display: grid;
    place-items: center;
    gap: var(--nav-spacing);
  }

  &__logo {
    padding: 3rem 2rem;
    --logo-size: 7.5rem;
    max-width: var(--logo-size);
    max-height: var(--logo-size);
    background: var(--color-primary);
    margin-top: calc(-1 * var(--logo-size)/2);

    img {
      filter: invert(100%) sepia(0%) saturate(13%) hue-rotate(225deg) brightness(103%) contrast(103%);
    }
  }

  &__nav {
    display: grid;
    place-items: center;
    gap: var(--nav-spacing);
  }

  @include breakpoint(sm) {

    &__container {
      padding-bottom: initial;
      max-width: MAX(85vw, 38.25rem);
      grid-template-columns: auto 1fr;
      justify-items: start;
    }

    &__nav {
      grid-auto-flow: column;
      gap: 3.5rem;
    }

    &__logo {
      margin-top: initial;
    }

    .btn {
      position: absolute;
      right: 0;
    }
  }

  @include breakpoint(md) {
    &__container {
      max-width: MIN(65vw, 164rem);
    }
  }

  @include breakpoint(lg) {

    &__container {
      gap: 5.375rem;
    }

    &__logo {
      --logo-size: 12.5rem;
      padding: 5rem 3rem;
    }

  }
}

