:root {
 --nav-bar-height: 6rem;
}

.navigation {
  background-color: var(--color-white);
  position: fixed;
  z-index: var(--zindex-fixed-element);
}

.nav-bar {
  height: var(--nav-bar-height);
  background: var(--color-white);
  position: fixed;
  width: 100%;
  left: 0;
  padding: 0 var(--outer-container-column);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: var(--zindex-fixed-element);

  &__logo {
    margin-right: 5.875rem;
    height: 32px;
    }

  & + .overlay {
    top: var(--nav-bar-height);
    opacity: 0;
    visibility: hidden;
    z-index: var(--zindex-popover);
  }

}

.nav {
  background: var(--color-black-lighter);
  padding: 3rem;
  position: absolute;
  right: 0;
  left: var(--outer-container-column);
  top: var(--nav-bar-height);
  transform: translateX(100%);
  display: grid;
  row-gap: 2rem;
  transition: all 0.4s ease;
  opacity: 1;
}

.nav-icon {
  width: 1.5rem;
  height: 1.0625rem;
  background: url(../images/icons/icon-hamburger.svg) no-repeat;
   @include rotate-fade(rotate1, 1);
}

.nav-bar.open {
 .nav {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
 }

 .nav-icon {
  width: 20px;
  height: 21px;
  background: url(../images/icons/icon-close.svg) no-repeat;
   @include rotate-fade(rotate2, 1);
}

 & + .overlay {
  opacity: 1;
  visibility: visible;
 }

}

@include breakpoint(sm) {

  :root {
    --nav-bar-height: 9.5rem;
  }

  .navigation {
    position: static;
  }

  .nav-bar,
  .nav {
    position: static;
  }

  .nav-bar {
    justify-content: start;
    padding: 0;

    &__logo {
      height: 40px;
    }
  }

  .nav {
     grid-auto-flow: column;
     background: inherit;
     column-gap: 3.5rem;
     padding: 0;
     visibility: visible;
     opacity: 1;
     transform: translateX(0%);
  }
}