:root {
 --nav-bar-height: 6rem;
}

.navigation {
  background-color: var(--color-white);
  position: fixed;
  width: 100%;
  z-index: var(--zindex-fixed-element);

  .overlay {
    top: var(--nav-bar-height);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
  }
}

.nav-bar {
  height: var(--nav-bar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-right: 5.875rem;
    height: 32px;
    }
}

.nav {
  background: var(--color-black-lighter);
  padding: 3rem;
  position: absolute;
  right: 0;
  left: var(--container-component-padding);
  top: var(--nav-bar-height);
  transform: translateX(100%);
  display: grid;
  row-gap: 2rem;
  transition: all 0.4s ease;
  opacity: 1;
}

.nav-icon {
  width: 1.5rem;
  height: 1.0625rem;
  background: url(../images/icons/icon-hamburger.svg) no-repeat;
   @include rotate-fade(rotate1, 1);
   cursor: pointer;
}

.navigation.open {

 .nav {
  transform: translateX(0%);
  visibility: visible;
  opacity: 1;
 }

 .nav-icon {
  width: 20px;
  height: 21px;
  background: url(../images/icons/icon-close.svg) no-repeat;
   @include rotate-fade(rotate2, 1);
}

 .overlay {
  opacity: 1;
  visibility: visible;
 }

}

@include breakpoint(sm) {

  :root {
    --nav-bar-height: 9.5rem;
  }

  .navigation,
  .nav {
    position: initial;
  }

  .nav-bar {
    justify-content: start;

    &__logo {
      height: 40px;
    }
  }

  .nav {
     grid-auto-flow: column;
     background: inherit;
     column-gap: 3.5rem;
     padding: 0;
     visibility: visible;
     opacity: 1;
     transform: translateX(0%);
  }

  .nav-link {
    position: relative;
  }

  .nav-link.current:after {
    content: '';
    position: absolute;
    width: 24px;
    height: 2px;
    background: var(--color-primary);
    bottom: -7px;
    left: 50%;
    transform: translateX(-50%);
  }
}