.vertical-content {

  @include breakpoint(sm) {

   display: grid;
    justify-items: center;
    grid-template-rows: min-content auto;
    gap: 3rem;

    &__line {
      height: 104px;
      width: 1px;
      background: var(--color-black-light);
    }

    &__text {
      writing-mode: vertical-lr;
    align-self: start;
    letter-spacing: 15px;
    color: var(--color-black-light);
    }

  }
}